# packaging
pip
setuptools
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
prophet
sklearn

# utilities
six>=1.14
joblib
memoized-property
termcolor
plotly
folium
streamlit-folium
pystan
openpyxl
